<!-- SideNav slide-out button -->
<a (click)="sidenav.toggle()" class="button-collapse"><mdb-icon class="white-text" fas icon="user" size="2x"></mdb-icon></a>
<!--/. SideNav slide-out button -->

<!-- Sidebar navigation -->
<mdb-side-nav #sidenav class="deep-orange darken-4">

  <li>
    <!--Avatar-->
    <div class="avatar d-flex justify-content-center p-3">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle avatar-img">
    </div>
    <p class="d-flex justify-content-center">Guillaume</p>
    <p class="d-flex justify-content-center">28 ans</p>

    <hr>
    <ul>
      <li><a href="">Settings</a></li>
      <li><a href="">My events</a></li>
      <li><a href="">Badges</a></li>
    </ul>
    <hr>
  </li>

</mdb-side-nav>
<!--/. Sidebar navigation -->
